body {
    text-align: center;
    background-color: #F7CFE1;
    font-family: "Comic Sans MS", cursive, sans-serif;
}

.banner {
    display: block;
    margin: 0 auto;
    max-width: 100%;
    position: relative;
    width: 95%;
    height: 350px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 25px;
    overflow: hidden;
}

.banner ::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('../images/meiying-ng-OrwkD-iWgqg-unsplash.jpg');
    background-size: cover;
    background-position: center;
    filter: blur(6px);
    transform: scale(1.1);
    z-index: -1;
}

h1 {
    color: white;
    text-shadow: 0 2px 4px #050505;
}

.profile-pic {
    position: absolute;
    top: 30px;
    left: 100px;
    width: 300px;
    height: 300px;
    border-radius: 50%;
    object-fit: cover;
    border: 4px solid #F7CFE1;
    box-shadow: 0 4px 8px #050505;
}
